<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css')}}">
  <script src = "{{ url_for('static', filename = 'scripts.js')}}"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header class="bg-dark">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand abs" href="/">Searchify</a>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a id="user" class="nav-link" href="/user">Your Spotify Link</a>
            </li>
          </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock %}
</body>
</html>