body{
  display:flex;
  flex-direction:column;
  align-items: center;
  height: 100%;
}

#ids, #link, #playlist_info, nav, nav > div, header, #route, #connection, #inputbar {
  display: flex;
}

#forms {
  margin-top: 2vh;
  width: 50%;
}

#link {
  width: 100%;
  margin-top: 1em;
}

#inp {
  height:3vh;
  width: 25vw;
}

nav {
  justify-content: space-between;
  width: 100%;
}

.hidden {
  display: none;
}

#login {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}