{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div id="pl-home" class="mt-2 mb-4 text-center">
    <img class="d-block mx-auto mb-4" src={{artist_df['img'].iloc[0]}} alt="" width="300vh" height="300vh">
    <h1 class="display-5 fw-bold">{{play}}</h1>
    <div class="col-lg-6 mx-auto">
        <p>{{description}}</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <form>
            <button id='dl' type="button" class="btn btn-primary btn-sm px-4 gap-3">Download Table</button>
          </form>
        </div>
    </div>
</div>
<p>If you like this artist, you might also like these songs!</p>
<div id="tables">
  <table class="table" id="pl_ytlinks">
    <tr>
        {% for col in column_names %}
        <th scope="col">{{col}}</th>
        {% endfor %}
    </tr>
    {% for row in row_data %}
    <tr>
        {% for col, row_ in zip(column_names, row) %}
        <td>{{row_}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}